@{
  Layout = "_Layout";
}
<div class="container text-center">
  <h1>Item Editor</h1>
  <div>
    <form class="form-group" action="index.html" method="post">
      <input type="text" name="newItemName" value="" placeholder="Enter item name">
      <button type="submit" name="button">Add new item</button>
    </form>

  </div>
</div>
